<div id="main-sport-profile" class="p-3 p-sm-0">
  <hr />
  <form
    [formGroup]="formUserGeographicProfile"
    (ngSubmit)="onSubmit()"
    novalidate
    autocomplete="off"
  >
    <div class="d-flex min-width row justify-content-center">
      <div class="col-12 col-md-6 max-width mx-auto">
        <app-ds-title [title]="'Datos de ubicación'"></app-ds-title>
        <label class="mt-3">{{ "LBL.PLACE_OF_BIRTH" | translate }}</label>
        <div class="ds-input-group mt-3 ds-card-flex">
          <div class="ds-input-group ds-card-1">
            <label for="country">{{ "LBL.COUNTRY" | translate }}</label>
            <select
              class="form-select ds-input"
              id="countries_input"
              aria-describedby="countries_input"
              formControlName="countryOfBirth"
              required
              (ngModelChange)="getStatesOfBirth($event)"
              #country
            >
              <option selected disabled value="">
                {{ "LBL.SELECT_TYPE" | translate }}
              </option>
              <option
                *ngFor="let country of countriesOfBirth"
                [ngValue]="country"
              >
                {{ country.name }}
              </option>
            </select>
            <small *ngIf="countryOfBirth?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group ds-card-2">
            <label for="state">{{ "LBL.STATE" | translate }}</label>
            <select
              class="form-select ds-input"
              id="states_input"
              aria-describedby="states_input"
              formControlName="stateOfBirth"
              required
              (ngModelChange)="getCitiesOfBirth($event)"
              #country
            >
              <option selected disabled value="">
                {{ "LBL.SELECT_TYPE" | translate }}
              </option>
              <option *ngFor="let state of statesOfBirth" [ngValue]="state">
                {{ state.name }}
              </option>
            </select>
            <small *ngIf="stateOfBirth?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group ds-card-3">
            <label for="city">{{ "LBL.CITY" | translate }}</label>
            <select
              class="form-select ds-input"
              id="cities_input"
              aria-describedby="cities_input"
              formControlName="cityOfBirth"
              required
            >
              <option selected disabled value="">
                {{ "LBL.SELECT_TYPE" | translate }}
              </option>
              <option *ngFor="let city of citiesOfBirth" [ngValue]="city">
                {{ city.name }}
              </option>
            </select>
            <small *ngIf="cityOfBirth?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
        </div>
        <label class="mt-3">{{ "LBL.PLACE_OF_RESIDENCE" | translate }}</label>
        <div class="ds-input-group mt-3 ds-card-flex">
          <div class="ds-input-group ds-card-1">
            <label for="country">{{ "LBL.COUNTRY" | translate }}</label>
            <select
              class="form-select ds-input"
              id="countries_input"
              aria-describedby="countries_input"
              formControlName="countryOfResidence"
              required
              (ngModelChange)="getStatesOfResidence($event)"
              #country
            >
              <option selected disabled value="">
                {{ "LBL.SELECT_TYPE" | translate }}
              </option>
              <option
                *ngFor="let country of countriesOfResidence"
                [ngValue]="country"
              >
                {{ country.name }}
              </option>
            </select>
            <small *ngIf="countryOfResidence?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group ds-card-2">
            <label for="state">{{ "LBL.STATE" | translate }}</label>
            <select
              class="form-select ds-input"
              id="states_input"
              aria-describedby="states_input"
              formControlName="stateOfResidence"
              required
              (ngModelChange)="getCitiesOfResidence($event)"
              #country
            >
              <option selected disabled value="">
                {{ "LBL.SELECT_TYPE" | translate }}
              </option>
              <option
                *ngFor="let state of statesOfResidence"
                [ngValue]="state"
              >
                {{ state.name }}
              </option>
            </select>
            <small *ngIf="stateOfResidence?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group ds-card-3">
            <label for="city">{{ "LBL.CITY" | translate }}</label>
            <select
              class="form-select ds-input"
              id="cities_input"
              aria-describedby="cities_input"
              formControlName="cityOfResidence"
              required
            >
              <option selected disabled value="">
                {{ "LBL.SELECT_TYPE" | translate }}
              </option>
              <option *ngFor="let city of citiesOfResidence" [ngValue]="city">
                {{ city.name }}
              </option>
            </select>
            <small *ngIf="cityOfResidence?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
        </div>
        <div class="ds-input-group mt-3 ds-card-flex flex-column">
          <label for="months_of_residence">{{
            "LBL.MONTHS_OF_RESIDENCE" | translate
          }}</label>
          <input
            id="months_of_residence_input"
            formControlName="montsOfResidence"
            type="number"
            class="form-control ds-input"
            aria-describedby="months_of_residence_input"
            [placeholder]="'PLACEHOLDER.MONTS' | translate"
            minlength="1"
            maxlength="2"
          />
          <small *ngIf="montsOfResidence?.hasError('required')">{{
            "ERR.REQUIRED_FIELD" | translate
          }}</small>
        </div>
      </div>
      <div class="col-12 col-md-6 max-width mx-auto">
        <div class="ds-input-group">
          <app-ds-title [title]="'Datos secundarios'"></app-ds-title>
          <div class="ds-input-group mt-3 ds-card-right">
            <label for="age">{{ "LBL.BIRTH_DATE" | translate }}</label>
            <input
              id="age_input"
              formControlName="age"
              type="date"
              class="form-control ds-input"
              aria-describedby="age_input"
              [placeholder]="'PLACEHOLDER.DATE_FORMAT' | translate"
              readonly
            />
            <small *ngIf="age?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
            <small *ngIf="age?.hasError('pattern')">{{
              "PLACEHOLDER.DATE_FORMAT" | translate
            }}</small>
          </div>
          <div class="ds-input-group mt-3 ds-card-left">
            <label for="weight">{{ "LBL.WEIGHT" | translate }}</label>
            <input
              id="weight_input"
              formControlName="weight"
              type="number"
              class="form-control ds-input"
              aria-describedby="weight_input"
              [placeholder]="'PLACEHOLDER.WEIGHT' | translate"
              readonly
            />
            <small *ngIf="weight?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
            <small *ngIf="weight?.hasError('max')">
              {{ "ERR.REQUIRED_FIELD" | translate }}
            </small>
          </div>
          <div class="ds-input-group mt-3 ds-card-right">
            <label for="height">{{ "LBL.HEIGHT" | translate }}</label>
            <input
              id="height_input"
              formControlName="height"
              type="number"
              class="form-control ds-input"
              aria-describedby="height_input"
              [placeholder]="'PLACEHOLDER.HEIGHT' | translate"
              readonly
            />
            <small *ngIf="height?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
            <small *ngIf="height?.hasError('max')">
              {{ "ERR.REQUIRED_FIELD" | translate }}
            </small>
          </div>
          <div class="ds-input-group mt-3 ds-card-right">
            <label for="imc">{{ "LBL.IMC" | translate }}</label>
            <input
              id="imc_input"
              formControlName="imc"
              type="number"
              class="form-control ds-input"
              aria-describedby="imc_input"
              [placeholder]="'PLACEHOLDER.IMC' | translate"
              readonly
            />
            <small *ngIf="imc?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
        </div>
        <div class="ds-button-continue p-2">
          <button id="btn-continue" type="submit" class="btn ds-button">
            {{ "BTN.UPDATE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
