<div id="main-user-dashboard">
  <div class="cont-left">
    <app-ds-vertical-menu></app-ds-vertical-menu>
  </div>
  <div class="cont-right p-0 p-sm-5 pt-sm-3">
    <div class="row">
      <app-ds-horizontal-menu
        [userName]="getGeneralStatus$.username"
        [contractType]="
          getGeneralStatus$.contractType === FREE_CONTRACT
            ? ('LBL.FREE_CONTRACT' | translate)
            : getGeneralStatus$.contractType === INTERMEDIATE_CONTRACT
            ? ('LBL.INTERMEDIATE_CONTRACT' | translate)
            : getGeneralStatus$.contractType === PREMIUM_CONTRACT
            ? ('LBL.PREMIUM_CONTRACT' | translate)
            : ''
        "
      ></app-ds-horizontal-menu>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
