<div id="main-user-dashboard">
  <div class="cont-left">
    <app-ds-vertical-menu></app-ds-vertical-menu>
  </div>
  <div class="cont-right p-0 p-sm-5 pt-sm-3">
    <div class="row">
      <app-ds-horizontal-menu
        [userName]="userName"
        [plan]="
          planType === FREE_PLAN
            ? ('LBL.FREE_PLAN' | translate)
            : planType === MEDIUM_PLAN
            ? ('LBL.MEDIUM_PLAN' | translate)
            : planType === PREMIUM_PLAN
            ? ('LBL.PREMIUM_PLAN' | translate)
            : ''
        "
      ></app-ds-horizontal-menu>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
