<div id="main-vertical-menu" class="container-fluid h-100">
  <div class="menu-mobile justify-content-between px-3">
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === SPORTSMAN"
    >
      <button type="button" class="btn" (click)="goUserSession()">
        <i class="bi bi-play-circle-fill"></i>
      </button>
      <h3>{{ "TITLE.SESSION" | translate }}</h3>
    </div>
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === SPORTSMAN"
    >
      <button type="button" class="btn" (click)="goUserEvents()">
        <i class="bi bi-calendar-week-fill"></i>
      </button>
      <h3>{{ "TITLE.EVENTS" | translate }}</h3>
    </div>
    <div class="ds-menu-vertical-item pt-3">
      <button type="button" class="btn" (click)="goUserHome()">
        <i class="bi bi-house-door-fill"></i>
      </button>
      <h3>{{ "TITLE.HOME" | translate }}</h3>
    </div>
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === SPORTSMAN"
    >
      <button type="button" class="btn" (click)="goUserServices()">
        <i class="bi bi-card-checklist"></i>
      </button>
      <h3>{{ "TITLE.SERVICES" | translate }}</h3>
    </div>
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === SPORTSMAN"
    >
      <button type="button" class="btn" (click)="goUserPlans()">
        <i class="bi bi-person-check-fill"></i>
      </button>
      <h3>{{ "TITLE.PLANS" | translate }}</h3>
    </div>
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === THIRD"
    >
      <button type="button" class="btn" (click)="goUserEvents()">
        <i class="bi bi-calendar-week-fill"></i>
      </button>
      <h3>{{ "TITLE.EVENTS" | translate }}</h3>
    </div>
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === THIRD"
    >
      <button type="button" class="btn" (click)="goUserServices()">
        <i class="bi bi-calendar-week-fill"></i>
      </button>
      <h3>{{ "TITLE.SERVICES" | translate }}</h3>
    </div>
    <div
      class="ds-menu-vertical-item pt-3"
      *ngIf="getGeneralStatus.userType === THIRD"
    >
      <button type="button" class="btn" (click)="goUserProducts()">
        <i class="bi bi-calendar-week-fill"></i>
      </button>
      <h3>{{ "TITLE.PRODUCTS" | translate }}</h3>
    </div>
  </div>
  <div class="menu-web">
    <img src="{{ logo }}" class="img-fluid pb-5 pt-3" alt="logo" />
    <div class="pt-5">
      <div class="ds-menu-vertical-item pt-3">
        <button type="button" class="btn" (click)="goUserHome()">
          <i class="bi bi-house-door-fill"></i>
        </button>
        <h3>{{ "TITLE.HOME" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === SPORTSMAN"
      >
        <button type="button" class="btn" (click)="goUserSession()">
          <i class="bi bi-play-circle-fill"></i>
        </button>
        <h3>{{ "TITLE.SESSION" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === SPORTSMAN"
      >
        <button type="button" class="btn" (click)="goUserEvents()">
          <i class="bi bi-calendar-week-fill"></i>
        </button>
        <h3>{{ "TITLE.EVENTS" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === SPORTSMAN"
      >
        <button type="button" class="btn" (click)="goUserServices()">
          <i class="bi bi-card-checklist"></i>
        </button>
        <h3>{{ "TITLE.SERVICES" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === SPORTSMAN"
      >
        <button type="button" class="btn" (click)="goUserPlans()">
          <i class="bi bi-person-check-fill"></i>
        </button>
        <h3>{{ "TITLE.PLANS" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === THIRD"
      >
        <button type="button" class="btn" (click)="goUserEvents()">
          <i class="bi bi-calendar-week-fill"></i>
        </button>
        <h3>{{ "TITLE.EVENTS" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === THIRD"
      >
        <button type="button" class="btn" (click)="goUserProducts()">
          <i class="bi bi-calendar-week-fill"></i>
        </button>
        <h3>{{ "TITLE.PRODUCTS" | translate }}</h3>
      </div>
      <div
        class="ds-menu-vertical-item pt-3"
        *ngIf="getGeneralStatus.userType === THIRD"
      >
        <button type="button" class="btn" (click)="goUserServices()">
          <i class="bi bi-calendar-week-fill"></i>
        </button>
        <h3>{{ "TITLE.SERVICES" | translate }}</h3>
      </div>
    </div>
  </div>
</div>
