/*
Color palette V1.0
Date: 18/10/2022
*/

// Primary
$ds-primary-01: #f85716;
$ds-primary-02: #ff9000;
// Dark
$ds-dark-01: #000000;
// Grey
$ds-grey-01: #4d4d4d;
$ds-grey-02: #f5f5f5;
$ds-grey-03: #cbcbcb;
// White
$ds-white-01: #ffffff;

// Test media query colors
$color-sm: #ff9797;
$color-md: #fffc97;
$color-lg: #ceff97;
$color-xl: #97fcff;
$color-xxl: #a597ff;
