.ds-input-group {
  max-width: 512px;
  margin: auto;
}
.ds-form-login {
  max-width: 256px;
  margin: auto;
}
.ds-form-register {
  max-width: 512px;
  margin: auto;
  margin-top: 0;
}
.ds-form-plan-detail {
  // min-width: $breakpoint-xs;
  // max-width: 512px;
  // width: 100%;
  // margin: 0;
}
.ds-group {
  max-width: 512px;
  min-width: 256px;
  margin: auto;
}
