@import "../../../styles.scss";

#main-ds-banner-title {
  min-width: 256px;
  width: 100%;
  height: auto;
  transform: skew(-20deg);
  text-align: center;
  background: linear-gradient(180deg, $ds-dark-01 0%, $ds-grey-01 50%);
  margin-bottom: 8px;
}
