<div id="main-create-services">
  <hr />

  <form
    [formGroup]="formUserCreateService"
    (ngSubmit)="onSubmit()"
    novalidate
    autocomplete="off"
  >
    <div class="d-flex row px-3 height-90vh">
      <div class="cont-left ds-form-register col-12 col-md-6">
        <div class="register-data mb-3">
          <app-ds-title
            [title]="'TITLE.PRINCIPAL_DATA' | translate"
          ></app-ds-title>
          <div class="ds-input-group mt-3">
            <label for="name">{{ "LBL.NAME" | translate }}</label>
            <input
              id="name_input"
              formControlName="name"
              type="text"
              class="form-control ds-input"
              aria-describedby="name_input"
              [placeholder]="'PLACEHOLDER.NAME' | translate"
            />
            <small *ngIf="getName?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group mt-3">
            <label for="description">{{ "LBL.DESCRIPTION" | translate }}</label>
            <input
              id="description_input"
              formControlName="description"
              type="text"
              class="form-control ds-input"
              aria-describedby="description_input"
              [placeholder]="'PLACEHOLDER.DESCRIPTION' | translate"
            />
            <small *ngIf="getDescription?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group mt-3">
            <div class="ds-input-group mt-3 ds-card-right">
              <label for="price">{{ "LBL.PRICE" | translate }}</label>
              <input
                id="price_input"
                formControlName="price"
                type="number"
                class="form-control ds-input"
                aria-describedby="price_input"
                [placeholder]="'PLACEHOLDER.PRICE' | translate"
              />
              <small *ngIf="getPrice?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="cont-right ds-form-register col-12 col-md-6">
        <div class="ds-register-data mb-3">
          <app-ds-title
            [title]="'TITLE.SECONDARY_DATA' | translate"
          ></app-ds-title>
          <div class="ds-input-group mt-3">
            <div class="ds-input-group mt-3 ds-card-left">
              <label for="id_sport">{{
                "LBL.SPORT_RELATED" | translate
              }}</label>
              <input
                id="id_sport_input"
                formControlName="IdSport"
                type="text"
                class="form-control ds-input"
                aria-describedby="id_sport_input"
                [placeholder]="'PLACEHOLDER.SPORT' | translate"
                readonly
              />
              <small *ngIf="getIdSport?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
          </div>
          <div class="ds-input-group mt-3">
            <label for="ubicationtype">{{
              "LBL.UBICATION_TYPE" | translate
            }}</label>
            <input
              id="ubicationtype_input"
              formControlName="ubicationType"
              type="text"
              class="form-control ds-input"
              aria-describedby="ubicationtype_input"
              [placeholder]="'PLACEHOLDER.OUTSIDE_OF_HOUSE' | translate"
              readonly
            />
            <small *ngIf="getUbicationType?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>

          <div class="ds-input-group mt-3">
            <label for="contract_type">{{
              "LBL.CONTRACT_TYPE" | translate
            }}</label>
            <input
              id="contract_type_input"
              formControlName="contract"
              type="text"
              class="form-control ds-input"
              aria-describedby="contract_type_input"
              [placeholder]="'PLACEHOLDER.FREE_CONTRACT' | translate"
              minlength="1"
              maxlength="3"
              readonly
            />
            <small *ngIf="getContractType?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
        </div>
        <div class="ds-button-continue p-2">
          <button
            id="btn-continue"
            type="submit"
            class="btn ds-button"
            [disabled]="!formUserCreateService.valid"
          >
            {{ "BTN.CREATE_SERVICE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
