<div id="main-configuration">
  <hr />
  <div class="col-12 col-md-6 max-width mx-auto">
    <app-ds-title [title]="'LBL.SELECT_LANGUAJE' | translate"></app-ds-title>
    <select
      class="form-select max-width"
      aria-label="LBL.SELECT_LANGUAJE"
      (change)="changeLang(t.value)"
      #t
    >
      <option selected value="">{{ "LBL.SELECT_LANGUAJE" | translate }}</option>
      <option value="es" [selected]="lang === 'es'">
        {{ "LBL.SPANISH" | translate }}
      </option>
      <option value="en" [selected]="lang === 'en'">
        {{ "LBL.ENGLISH" | translate }}
      </option>
      <option value="pt" [selected]="lang === 'pt'">
        {{ "LBL.PORTUGUESE" | translate }}
      </option>
    </select>
  </div>
  <div class="col-12 col-md-6 mt-3 max-width mx-auto">
    <app-ds-title [title]="'LBL.VERSION' | translate"></app-ds-title>
    <p class="version">V{{ getVersion }} - {{ getIsMobile }}</p>
  </div>
  <div class="col-12 col-md-6 mt-3 max-width mx-auto">
    <app-ds-title [title]="'LBL.CONNECT_OTHER_APP' | translate"></app-ds-title>
    <div class="input-group">
      <input
        type="file"
        class="form-control"
        placeholder="Upload file"
        (change)="loadFile($event)"
        accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      />
    </div>
  </div>
  <div
    class="col-12 col-md-6 mt-3 max-width mx-auto"
    *ngIf="getSessionData$.length > 0"
  >
    <details [open]="true">
      <summary>
        <app-ds-title [title]="'LBL.APPS_CONNECTED' | translate"></app-ds-title>
      </summary>
      <ul class="list-group" *ngFor="let sessionData of getSessionData$">
        <li class="list-group-item">{{ sessionData?.label }}</li>
      </ul>
      <div class="d-flex justify-content-end mb-3">
        <button
          id="btn-continue"
          type="button"
          class="btn ds-button"
          (click)="delFiles()"
        >
          {{ "BTN.DELETE_DATA" | translate }}
        </button>
      </div>
    </details>
  </div>
</div>
