<div id="main-search-events" class="container-fluid height-100vh">
  <hr />
  <div
    class="d-flex min-width row justify-content-center"
    *ngIf="eventsList.length! >= 1; else noSuccess"
  >
    <div class="col-12 col-md-3 mx-auto">
      <div class="options pe-1">
        <div class="list-group overflow-auto">
          <button
            *ngFor="let item of eventsList"
            type="button"
            (click)="setEvent(item)"
            class="list-group-item ds-list-group-item list-group-item-action"
            aria-current="true"
            [class.active]="getEvent$ === item"
          >
            {{ item.name }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9 mx-auto" *ngIf="!!getEvent$; else noItem">
      <app-ds-title [title]="getEvent$.name! | translate"></app-ds-title>
      <div class="body">
        <p>{{ getEvent$.description }}</p>
        <div class="d-flex">
          <label>{{ "LBL.DATE" | translate }}</label>
          <p>{{ getEventDate$ | date }}</p>
        </div>
        <div class="d-flex" *ngIf="getEvent$.city">
          <label>{{ "LBL.UBICATION" | translate }}</label>
          <p>{{ getEvent$.city }}</p>
        </div>
        <div class="d-flex" *ngIf="!!getEventIdSports$">
          <label>{{ "LBL.SPORTS_RELATED" | translate }}</label>
          <p>{{ getEventSportSelected$.name | json }}</p>
        </div>
        <div class="d-flex" *ngIf="!!getEventIdSports$">
          <p>{{ getEventSportSelected$.description | json }}</p>
        </div>
        <div class="d-flex" *ngIf="getEventIdUserCreator$">
          <label>{{ "LBL.CONTACT" | translate }}</label>
          <p>{{ getEventIdUserCreator$ }}</p>
          <!-- ::: Validar si se consume siempre este dato -->
          <!-- <p> {{ eventNameUserCreator?.name }} {{ eventNameUserCreator?.lastName }} ({{ eventNameUserCreator?.username }})</p> -->
        </div>
        <div
          *ngIf="!!getEvent$?.contractType"
          class="alert alert-secondary"
          role="alert"
        >
          <label
            >{{
              getEvent$.contractType === FREE_CONTRACT
                ? ("LBL.FREE_CONTRACT" | translate)
                : getEvent$.contractType === INTERMEDIATE_CONTRACT
                ? ("LBL.INTERMEDIATE_CONTRACT" | translate)
                : getEvent$.contractType === PREMIUM_CONTRACT
                ? ("LBL.PREMIUM_CONTRACT" | translate)
                : ""
            }}{{
              getEvent$.contractType === FREE_CONTRACT
                ? ("LBL.FREE_CONTRACT_ICON" | translate)
                : getEvent$.contractType === INTERMEDIATE_CONTRACT
                ? ("LBL.INTERMEDIATE_CONTRACT_ICON" | translate)
                : getEvent$.contractType === PREMIUM_CONTRACT
                ? ("LBL.PREMIUM_CONTRACT_ICON" | translate)
                : ""
            }}
          </label>
        </div>
        <div
          *ngIf="getEvent$?.evenType"
          class="alert alert-secondary"
          role="alert"
        >
          <label>{{
            getEvent$.evenType === INSIDE_OF_HOUSE
              ? ("LBL.INSIDE_OF_HOUSE" | translate)
              : getEvent$.evenType === OUTSIDE_OF_HOUSE
              ? ("LBL.OUTSIDE_OF_HOUSE" | translate)
              : ""
          }}</label>
        </div>
      </div>
      <div class="ds-button-continue p-2">
        <button
          id="btn-continue"
          type="button"
          (click)="addEvent()"
          class="btn ds-button"
        >
          {{ "BTN.ENROLL" | translate }}
        </button>
      </div>
    </div>
    <ng-template #noItem>
      <div class="col-12 col-md-9 mx-auto">
        <div class="alert alert-info" role="alert">
          <label>{{ "LBL.SELECT_EVENT" | translate }}</label>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #noSuccess>
    <div class="alert alert-warning" role="alert">
      <label>{{ "ERR.NO_DATA" | translate }} </label>
    </div></ng-template
  >
  <p>::: eventsList.length {{ eventsList.length }}</p>
</div>
