@import "../../../../styles.scss";

#main-user-home {
  .ds-button {
    min-width: 128px;
    max-width: 256px;
    width: auto;
  }
  .button-see {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid $ds-primary-01;
  }
}

::ng-deep .fc-icon {
  color: #ffffff;
}
