<div id="main-user-home" class="container-fluid height-100vh">
  <hr />
  <p>main-user-home</p>
  <p>XXX-getGeneralStatus: {{ getGeneralStatus | json }}</p>
  <p></p>
  <p>XXX-getBirthdUbication: {{ getBirthdUbication | json }}</p>
  <p></p>
  <p>XXX-getHomeUbication: {{ getHomeUbication | json }}</p>
  <p></p>
  <p>XXX-getDate: {{ getDate | date }}</p>
  <p></p>
  <p>XXX-getDate: {{ getDate | date }}</p>
  <p></p>
  <p>XXX-getCurrency: {{ getCurrency | currency }}</p>
  <p></p>
  <p>XXX-getSportsList: {{ getSportsList | json }}</p>
  <p></p>
  <p>XXX-getLang: {{ getLang | json }}</p>
  <p></p>
  <p>XXX-getLangName: {{ getLangName | json }}</p>
  <p></p>
  <p>XXX-getLocation: {{ getLocation | json }}</p>
  <p></p>
  <p>XXX-getEventsList: {{ getEventsList | json }}</p>
  <p></p>
  <p>XXX-getSportsList: {{ getSportsList | json }}</p>
</div>
