@import "../../../../styles.scss";

#main-user-home {
  .ds-button {
    min-width: 128px;
    max-width: 256px;
    width: auto;
  }
  .button-see {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid $ds-primary-01;
  }
}

::ng-deep {
  .fc-icon {
    color: #ffffff;
  }
  .fc .fc-view-harness {
    min-height: 475px !important;
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.table-container {
  max-height: 160px;
  overflow-y: auto;
  overflow-x: hidden;
}
.full-calendar-container {
  padding: 1.5rem;
  border: 2px solid #ff9000;
  border-radius: 12px;
}
