<div id="main-user-home" class="container-fluid height-100vh">
  <hr />
  <div class="d-flex min-width row justify-content-center">
    <div class="col-12 col-md-6 max-width mx-auto">
      <details [open]="true">
        <summary>
          <app-ds-title
            [title]="'TITLE.SUGGESTED_TRAINING_PLAN' | translate"
          ></app-ds-title>
        </summary>
        <div class="table-container">
          <table class="table table-hover" style="background-color: #fff">
            <tbody>
              <tr *ngFor="let routine of sportRoutinesRecommended">
                <td>
                  <p>{{ routine.name }}</p>
                </td>
                <td>
                  <p>{{ routine.description }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mb-3">
          <button
            id="btn-continue"
            type="button"
            class="btn ds-button pe-3 ps-3"
            [routerLink]="['/usuario/planes']"
          >
            {{ "BTN.SPORT_PLANS" | translate }}
          </button>
        </div>
      </details>

      <details [open]="true">
        <summary>
          <app-ds-title
            [title]="'TITLE.SUGGESTED_MEAL_PLAN' | translate"
          ></app-ds-title>
        </summary>
        <div class="table-container">
          <table class="table table-hover" style="background-color: #fff">
            <tbody>
              <tr *ngFor="let food of foodRoutinesRecommended">
                <td>
                  <p>{{ food.name }}</p>
                </td>
                <td>
                  <p>{{ food.description }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mb-3">
          <button
            id="btn-continue"
            type="button"
            class="btn ds-button pe-3 ps-3"
            [routerLink]="['/usuario/planes']"
          >
            {{ "BTN.FOOD_PLANS" | translate }}
          </button>
        </div>
      </details>

      <details [open]="true">
        <summary>
          <app-ds-title
            [title]="'TITLE.SUGGESTED_ROUTES' | translate"
          ></app-ds-title>
        </summary>
        <div class="table-container">
          <table class="table table-hover" style="background-color: #fff">
            <tbody>
              <tr *ngFor="let route of routesRecommended">
                <td>
                  <p>{{ route.title }}</p>
                </td>
                <td>
                  <p>{{ route.distance }} Km</p>
                </td>
                <td>
                  <p>{{ route.initPath }}</p>
                </td>
                <td>
                  <p>{{ route.endPath }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mb-3">
          <button
            id="btn-continue"
            type="button"
            class="btn ds-button pe-3 ps-3"
            [routerLink]="['/usuario/eventos']"
          >
            {{ "BTN.ROUTES" | translate }}
          </button>
        </div>
      </details>

      <details [open]="true">
        <summary>
          <app-ds-title
            [title]="'TITLE.SUGGESTED_SERVICES' | translate"
          ></app-ds-title>
        </summary>
        <div class="table-container">
          <table class="table table-hover" style="background-color: #fff">
            <tbody>
              <tr *ngFor="let service of servicesRecommended">
                <td>
                  <p>{{ service.name }}</p>
                </td>
                <td>
                  <p>
                    {{ getCurrency$ }}
                    {{
                      service.price
                        | currency: getCurrency$:"symbol":"1.0":getLangLocation$
                    }}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mb-3">
          <button
            id="btn-continue"
            type="button"
            class="btn ds-button pe-3 ps-3"
            [routerLink]="['/usuario/servicios']"
          >
            {{ "BTN.SERVICES" | translate }}
          </button>
        </div>
      </details>
    </div>
    <div class="col-12 col-md-6 max-width mx-auto">
      <div class="mt-5 full-calendar-container">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>

  <!-- Modal Create Routine -->
  <div
    class="modal fade"
    id="createRoutine"
    tabindex="-1"
    aria-labelledby="createRoutineLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createRoutineLabel">
            {{ "TITLE.SPORTAPP" | translate }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn ds-button" data-bs-dismiss="modal">
            {{ "BTN.CLOSE" | translate }}
          </button>
          <button type="button" class="btn btn-primary">
            {{ "BTN.CONTINUE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Event Details -->
<button
  id="btn-event-details"
  type="button"
  class="btn ds-button"
  data-bs-toggle="modal"
  data-bs-target="#eventDetails"
  style="display: none"
></button>
<div
  class="modal fade"
  id="eventDetails"
  tabindex="-1"
  aria-labelledby="eventDetailsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventDetailsLabel">
          {{ "LBL.EVENT_DETAIL" | translate }}
        </h1>
        <button
          id="btn-close-event-details"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="eventSelected">
          <h5>{{ eventSelected.title }}</h5>
          <p>
            {{ "LBL.DESCRIPTION" | translate }}:
            {{ eventSelected.extendedProps.description }}
          </p>
          <p>
            {{ "LBL.DATE" | translate }}:
            {{ eventSelected.start | date: "short" }}
          </p>
        </div>
      </div>
      <div class="modal-footer" *ngIf="eventSelected">
        <button
          type="button"
          class="btn ds-button"
          (click)="goToEventSelected()"
        >
          {{ "BTN.SCHEDULED_EVENT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
