<div id="main-see-routes">
  <hr />
  <div
    class="d-flex min-width row justify-content-center"
    *ngIf="getRoutesList.length! > 0; else noSuccess"
  >
    <div class="col-12 col-md-3 mx-auto">
      <div class="options pe-1">
        <div class="list-group overflow-auto">
          <button
            *ngFor="let item of getRoutesList"
            type="button"
            (click)="setRoute(item)"
            class="list-group-item ds-list-group-item list-group-item-action"
            aria-current="true"
            [class.active]="getRoute$ === item"
          >
            {{ item.title }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9 mx-auto" *ngIf="!!getRoute$; else noItem">
      <app-ds-title [title]="getRoute$.title! | translate"></app-ds-title>
      <div class="body">
        <p>{{ getRoute$.description }}</p>
        <div class="d-flex">
          <label>{{ "LBL.START_PLACE" | translate }}</label>
          <p>{{ getRoute$.initPath }}</p>
        </div>
        <div class="d-flex">
          <label>{{ "LBL.DESTINY_PLACE" | translate }}</label>
          <p>{{ getRoute$.endPath }}</p>
        </div>
        <div class="d-flex">
          <label>{{ "LBL.DISTANCE" | translate }}</label>
          <p>{{ getRoute$.distance }}</p>
        </div>
        <div class="d-flex">
          <a href="{{ getRoute$.imageUrl }}" target="_blank"
            >{{ "LBL.SEE_ON_MAP" | translate }}
          </a>
        </div>
      </div>
    </div>
    <ng-template #noItem>
      <div class="col-12 col-md-9 mx-auto">
        <div class="alert alert-info" role="alert">
          <label>{{ "LBL.SELECT_ROUTE" | translate }}</label>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #noSuccess>
    <div class="alert alert-warning" role="alert">
      <label>{{ "ERR.NO_DATA" | translate }} </label>
    </div></ng-template
  >
</div>
