<div id="main-general-data" class="p-3 p-sm-0">
  <hr />
  <form
    [formGroup]="formUserGeneralData"
    (ngSubmit)="onSubmitGeneralData()"
    novalidate
    autocomplete="off"
  >
    <div class="d-flex row px-3 height-90vh">
      <div class="cont-left ds-form-register col-12 col-md-6">
        <div class="register-data mb-3">
          <app-ds-title
            [title]="'TITLE.PRINCIPAL_DATA' | translate"
          ></app-ds-title>
          <div class="ds-input-group mt-3">
            <label for="user">{{ "LBL.USER" | translate }}</label>
            <input
              id="user_input"
              formControlName="user"
              type="text"
              class="form-control ds-input"
              aria-describedby="user_input"
              [placeholder]="'PLACEHOLDER.USER_2' | translate"
              minlength="1"
              maxlength="20"
              readonly
            />
            <small *ngIf="getUser?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group mt-3">
            <label for="name">{{ "LBL.NAMES" | translate }}</label>
            <input
              id="name_input"
              formControlName="name"
              type="text"
              class="form-control ds-input"
              aria-describedby="name_input"
              [placeholder]="'PLACEHOLDER.NAME' | translate"
              minlength="1"
              maxlength="20"
            />
            <small *ngIf="getName?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group mt-3">
            <label for="last_name">{{ "LBL.LAST_NAME" | translate }}</label>
            <input
              id="last_name_input"
              formControlName="lastName"
              type="text"
              class="form-control ds-input"
              aria-describedby="last_name_input"
              [placeholder]="'PLACEHOLDER.LAST_NAME' | translate"
              minlength="1"
              maxlength="20"
            />
            <small *ngIf="getLastName?.hasError('required')">{{
              "ERR.REQUIRED_FIELD" | translate
            }}</small>
          </div>
          <div class="ds-input-group mt-3 ds-card-flex">
            <div class="ds-input-group mt-3 ds-card-left">
              <label for="id_type">{{ "LBL.ID_TYPE" | translate }}</label>
              <select
                class="form-select ds-input"
                id="id_type_input"
                aria-describedby="id_type_input"
                formControlName="IdType"
                required
              >
                <option selected disabled value="">
                  {{ "LBL.SELECT_TYPE" | translate }}
                </option>
                <option
                  *ngFor="let id_type of 'LIST_DATA.ID_TYPES' | translate"
                  [ngValue]="id_type.ID"
                >
                  {{ id_type.NAME }}
                </option>
              </select>
              <small *ngIf="getIdType?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
            <div class="ds-input-group mt-3 ds-card-right">
              <label for="number">{{ "LBL.ID_NUMBER" | translate }}</label>
              <input
                id="number_input"
                formControlName="IdNumber"
                type="number"
                class="form-control ds-input"
                aria-describedby="number_input"
                [placeholder]="'PLACEHOLDER.ID_NUMBER' | translate"
                minlength="1"
                maxlength="20"
              />
              <small *ngIf="getIdNumber?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="cont-right ds-form-register col-12 col-md-6">
        <div class="ds-register-data mb-3">
          <app-ds-title
            [title]="'TITLE.SECONDARY_DATA' | translate"
          ></app-ds-title>
          <div class="ds-input-group mt-3 ds-card-flex">
            <div class="ds-input-group mt-3 ds-card-left">
              <label for="genre">{{ "LBL.GENRE" | translate }}</label>
              <select
                class="form-select ds-input"
                id="genre_input"
                aria-describedby="genre_input"
                formControlName="genre"
                required
              >
                <option selected disabled value="">
                  {{ "LBL.SELECT_TYPE" | translate }}
                </option>
                <option
                  *ngFor="let type of 'LIST_DATA.GERE_TYPES' | translate"
                  [ngValue]="type.ID"
                >
                  {{ type.NAME }}
                </option>
              </select>
              <small *ngIf="getGenre?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
            <div class="ds-input-group mt-3 ds-card-right">
              <label for="age">{{ "LBL.AGE" | translate }}</label>
              <input
                id="age_input"
                formControlName="age"
                type="date"
                class="form-control ds-input"
                aria-describedby="age_input"
                [placeholder]="'PLACEHOLDER.YEARS' | translate"
              />
              <small *ngIf="getAge?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
          </div>
          <div class="ds-input-group mt-3 ds-card-flex">
            <div class="ds-input-group mt-3 ds-card-left">
              <label for="weight">{{ "LBL.WEIGHT" | translate }}</label>
              <input
                id="weight_input"
                formControlName="weight"
                type="number"
                class="form-control ds-input"
                aria-describedby="weight_input"
                [placeholder]="'PLACEHOLDER.WEIGHT' | translate"
                minlength="1"
                maxlength="3"
                max="999"
              />
              <small *ngIf="getWeight?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
            <div class="ds-input-group mt-3 ds-card-right">
              <label for="height">{{ "LBL.HEIGHT" | translate }}</label>
              <input
                id="height_input"
                formControlName="height"
                type="number"
                class="form-control ds-input"
                aria-describedby="height_input"
                [placeholder]="'PLACEHOLDER.HEIGHT' | translate"
                minlength="1"
                maxlength="3"
              />
              <small *ngIf="getHeight?.hasError('required')">{{
                "ERR.REQUIRED_FIELD" | translate
              }}</small>
            </div>
          </div>
        </div>
        <div class="ds-button-continue p-2">
          <button
            id="btn-continue"
            type="submit"
            class="btn ds-button"
            [disabled]="!formUserGeneralData.valid"
          >
            {{ "BTN.UPDATE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
